composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

.php-cs-fixer.cache
.phpunit.cache

# For your customizations
.php-cs-fixer.php
phpstan.neon
phpunit.xml

node_modules
dist

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist
docs/node_modules