parameters:
    # NOTE: %rootDir% is `vendor/phpstan/phpstan`
    tmpDir: %rootDir%/tmp
    level: max
    paths:
        - src
        - tests
    typeAliases:
        NumberValueBase: '\WizDevelop\PhpValueObject\Number\Decimal\DecimalValueBase|\WizDevelop\PhpValueObject\Number\Integer\IntegerValueBase'
    ignoreErrors:
        -
            # NOTE: PHP-CS-Fixer のルールと競合するため
            identifier: staticMethod.dynamicCall
