parameters:
    # NOTE: %rootDir% is `vendor/phpstan/phpstan`
    tmpDir: %rootDir%/tmp
    level: max
    paths:
        - src
    typeAliases:
        NumberValueBase: '\WizDevelop\PhpValueObject\Number\Decimal\DecimalValueBase|\WizDevelop\PhpValueObject\Number\Integer\IntegerValueBase'