<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
  backupGlobals="true"
  bootstrap="vendor/autoload.php"
  cacheResult="false"
  colors="true"
  processIsolation="false"
  timeoutForSmallTests="1"
  timeoutForMediumTests="10"
  timeoutForLargeTests="60"
>
  <php>
    <!-- NOTE: アサーションを有効化（CI環境用） -->
    <ini name="assert.active" value="1"/>
    <ini name="assert.exception" value="1"/>
    <ini name="zend.assertions" value="1"/>
  </php>

  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
  </testsuites>

  <coverage />

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
